<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scandemo5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <receiver android:name=".Recevier.TReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="nlscan.action.SCANNER_RESULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ScanRActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <activity
            android:name=".Activity.SetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <activity
            android:name=".Activity.Storage.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".Activity.MainActivity" /> -->
        </activity>
        <activity android:name=".Activity.Storage.ChangeStorageActivity">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".Activity.MainActivity" /> -->
        </activity>
        <activity android:name=".Activity.Distribution.DistributionActivity">
        </activity>
        <activity android:name=".Activity.Distribution.LogisticsInfoActivity">
        </activity>
        <activity android:name=".Activity.Distribution.OutGoingActivity">
        </activity>
    </application>

</manifest>